<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>learnalist-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB21649B1E3E297D00BF64BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2164AF1E3E297D00BF64BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB2164BA1E3E297D00BF64BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB385D011E302CCB00C92927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB385D151E302CCC00C92927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB385D201E302CCC00C92927</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
